<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	</head>
	<body>
		<nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
		  <div class="collapse navbar-collapse" id="navbarNavDropdown">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Menu
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          <a class="dropdown-item" href="/">P치gina principal</a>
		          <a class="dropdown-item" href="/crearAnime">Crear Anime</a>
		          <a class="dropdown-item" href="/crearManga">Crear Manga</a>
		          <a class="dropdown-item" href="/listar">Listado de datos</a>
		        </div>
		      </li>
		    </ul>
		    <span class="navbar-text">
		      EDITAR ANIME
		    </span>
		  </div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-4"></div>
				<div class="col-4">
				<form action="update" method="POST">
					<% objeto.forEach(function(anime){ %>
					<input name="id" value="<%= anime._id %>" hidden>
					<label>Titulo:</label>
					<input class="form-control" name="titulo" value="<%= anime.titulo %>">
					</br>
					<label>Estudio: </label>
					<input class="form-control" name="estudio" value="<%= anime.estudio %>">
					</br>
					<label>A침o: </label>
					<input class="form-control" name="a침o" type="date" value="<%= anime.a침o %>">
					<% });%> 
					</br>
					<input style="margin-left: 8rem" class="btn btn-outline-success" type="submit" value="Modificar">
				</form>
				</div>
				<div class="col-4"></div>
			</div>
		</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	</body>

</html>